.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gallery-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.painting-container {
  width: 200px;
  height: 300px;
}

img {
  width: 100%;
  object-fit: contain;
}
