*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.gallery-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.painting-container {
  width: 200px;
  height: auto;
  margin: 5px;
}

img {
  width: 100%;
  object-fit: contain;
}
/* Gallery */
h1 {
  text-align: center;
}

/* Form */

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  padding: 20px;
  margin-top: 20px;
  align-items: center;
  box-shadow: #0000003d 0 3px 8px;
}
